body, html {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

* {
    box-sizing: border-box;
}

.wrapper {
    background-color: lightgray;
    padding: 5px;
    width: 400px;
}

main {
    background-color: rgb(245, 24, 24);
    border-radius: 20px;
}

header {
    color: white;
    text-align: center;
    font-family: sans-serif;
}

header h1 {
    text-transform: uppercase;
    font-size: 4rem;
    margin: 0;
}

header h2 {
    margin: 0;
    font-size: 2.2rem;
    font-weight: 300;
}

section {
    background-color: white;
    padding: 40px;
    font-family: 'Lobster', cursive;;
    text-align: center;
    margin: 10px 0;
    font-size: 1.8rem;
}

footer {
    height: 30px;
}